html,h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  color: #777;
}

@media (min-width: 38rem) {
  html {
    font-size: 18px;
  }
}

.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}


.masthead {
  margin-bottom:1em;
  padding-bottom: 0;
}

.masthead-title a {
  color: #333;
}

.masthead-title small {
  display:block;
}

.nav a {
  font-size:13px;
}

.post {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}

.posts .post-year {
  margin-bottom:0.2em;
}

.posts .post {
  margin-bottom:0;
  padding:1em 0;
  border-top: 1px solid #eee;
  border-bottom: none;
}

.posts .post .post-title {
  font-size:1.5rem;
  font-weight: 700;
  margin:0;
  padding:0;
}

.posts .post .post-date {
  margin:0;
  padding:0;
}

.by-twitter {
  text-transform: lowercase;
  margin-bottom: 3em;
  font-size: 15px;
}

.chronological-nav {
  overflow:auto;
}

a.prev, a.next {
  font-size:13px;
  border:1px solid #eee;
  padding:10px 20px;
  border-radius:10px;
  color:#777;
}

a.prev:hover, a.next:hover {
  text-decoration: none;
  color: #6a9fb5;
}

.prev {
  float:left;
}

.next {
  float:right;
}

.footer {
  margin-bottom:3em;
  text-transform: lowercase;
}
