---
layout: default
title: Home
---

<h1>About</h1>
<p>
  Programmer at <a href="https://github.com">GitHub</a> (co-founder of their <a href="https://github.com/blog/993-ordered-list-is-a-githubber">first acquisition</a> in 2011).<br />
  Side hustling on <a href="https://www.flippercloud.io">Flipper Cloud</a> and <a href="https://www.speakerdeck.com">Speaker Deck</a>.<br />
  My motto is <a href="https://fewerandfaster.com/ethos/">Fewer and Faster</a>.<br />
  <a href="/about/">more &raquo;</a>
</p>

<h1>Posts</h1>
<h2>Recommended</h2>
<div class="posts clearfix">
  {% for post in site.tags.recommended %}
    <div class="post">
      <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
  {% endfor %}
</div>

<h2>Chronological</h2>
<div class="posts clearfix">
  {% for post in site.posts %}
    <div class="post">
      <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    {% assign last_year = year %}
  {% endfor %}
</div>
